form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;    

    height: 350px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0px;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.ng-invalid {
    border-color: red;
}

#saveButton {
    color: lightseagreen;
}

#returnButton {
    color: lightcoral;
}

#screen {
    width: 100%;
    height: 65vh;

    display: flex;
    align-items: center;
    justify-content: center;
}